html, body {
    height: 100%;
    text-align: center;
    padding: 0;
    margin: -10px;
}
.task-1 {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    background-color: gray;
}
.container-1 {
    width: 100%;
    height: 100%;
}
.img-1 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROyKFTUV232vOaIuAM76gpwZK7IW5mZd6XSDTHRF0f7w&s");
    width: 100%;
    height: 25%;
}
.content-1 {
    display: block;
    width: 100%;
    height: 50%;
}
.text-1 {
    height: 100%;
    width: 50%;
}
.purple {
    float: left;
    background-color: purple;
}
.blue {
    float: right;
    background-color: blue;
}

.task-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: gray;
}
.img-2 {
    flex-grow: 1;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROyKFTUV232vOaIuAM76gpwZK7IW5mZd6XSDTHRF0f7w&s");
}
.content-2 {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}
.text-2 {
    flex-grow: 1;
}
